$border-radius: 10px;
$header_color: #fff;
$main_color: #247ba0;
$text_color: #061317;
$weekend_color: #ea2924;

.calendar-widget {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
  border-radius: $border-radius;
  // box-sizing: content-box;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 20px;
    height: 60px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $main_color;
    box-sizing: content-box;

    &-item {
      position: relative;
      border: none;
      outline: none;
      padding: 0;
      font-size: 16px;
      color: $header_color;
      background-color: $main_color;
      cursor: pointer;

        &_previous::before,
        &_next::before {
          position: absolute;
          content: '';
          width: 15px;
          height: 15px;
          top: -5px;
          background-image: url('../img/next-icon.png');
          background-repeat: no-repeat;
          background-size: 75%;
        }

        &_previous::before {
          transform: rotate(180deg);
          top: -10px;
        }
      }
  }

  &__content {
    flex-grow: 4;
    margin: 20px 30px;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-row-gap: 14px;
    grid-column-gap: 5px;
    font-size: 16px;
    color: $text_color;
    text-align: center;

    &_week {
      margin-bottom: 20px;
      font-size: 12px;
      opacity: 0.5;
    }
  }

  &__day {
    cursor: pointer;

    &_weekend,
    &_holiday {
      color: $weekend_color;
    }

    &_today,
    &_selected {
      border: 1px solid $main_color;
      border-radius: 2px;
    }

    &_selected {
      background-color: $main_color;
    }
  }
}
