$border-radius: 10px;
$linl_color: #fff;
$main_color: #247ba0;
$text_color: #061317;
$weekend_color: #ea2924;

.calendar-widget {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
  border-radius: $border-radius;
  box-sizing: content-box;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $main_color;

  &_previous,
  &_current,
  &_next {
    border: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    color: $linl_color;
    background-color: $main_color;
    cursor: pointer;
  }
  }

  &__content {
    flex-grow: 4;
    margin: 20px 30px;
  }
}

.days {
  display: grid;
  grid-template-columns: 34px 34px 34px 34px 34px 34px 34px;
  grid-row-gap: 14px;
  font-size: 16px;
  color: $text_color;
  text-align: center;
}

.week {
  margin-bottom: 20px;
  font-size: 12px;
  opacity: 0.5;
}

.weekend,
.holiday {
  color: $weekend_color;
}
