$border-radius: 5px;
$linl_color: #fff;
$main_color: #247ba0;
$text_color: #061317;
$weekend_color: #ea2924;

.calendar-widget {
  width: 150px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
  border-radius: $border-radius;

  &__header {
    height: 35px;
    line-height: 35px;
    font-size: 8px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $main_color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 10px 12px;
  }
}

.selection {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 15px;
}

.item-menu {
  text-decoration: none;
  color: $linl_color;
}

.days {
  display: grid;
  grid-template-columns: 18px 18px 18px 18px 18px 18px 18px;
  grid-row-gap: 6px;
  font-size: 8px;
  color: $text_color;
  list-style-type: none;
}

.week {
  margin-bottom: 10px;
  font-size: 7px;
  opacity: 0.5;
}

.day {
  text-align: center;
}

.weekend,
.holiday {
  color: $weekend_color;
}
